/*--********************BODY********************--*/
* {
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0%;
}

.margin_container {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
}

/*--********************MAIN********************--*/

/*--********************HEADER********************--*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  padding-top: 25px;
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  list-style-type: none;
  padding-top: 25px;
}

nav a {
  text-decoration: none;
  color: black;
  padding-top: 48px;
}

nav a:hover {
  color: #0065fc;
  border-top: solid 2px #0065fc;
  padding-top: 20px;
  padding-bottom: 0px;
}

#subscribe {
  color: #0065fc;
  text-decoration: none;
  font-weight: bold;
}

#subscribe :hover {
  border-top: none;
}

/*--********************SEARCH SECTION********************--*/

/*--*****SEARCH*****--*/
/*--SEARCH TITLE--*/

/*--SEARCH BUTTONS--*/
.search_space {
  display: flex;
}

.marker {
  display: flex;
  background-color: #f2f2f2;
  padding: 0.9em;
  border-radius: 1em 0em 0em 1em;
}

.fas.fa-search {
  display: none;
}

.search_location {
  text-align: center;
  font-weight: bold;
  border: 1.5px solid #f2f2f2;
  outline: none;
}

input::placeholder {
  color: black;
  font-family: "Raleway";
}

.search_button {
  text-align: center;
  color: white;
  background-color: #0065fc;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 0em 1em 1em 0em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.search_button:hover {
  color: black;
  background-color: #deebff;
  text-decoration: none;
}

/*--SEARCH FILTERS--*/

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.button_filter {
  display: flex;
  align-items: baseline;
  border: 1px solid #d1d1d1;
  border-radius: 1.5em;
  outline: none;
  font-weight: bold;
  color: black;
  padding-top: 1px;
}

.button_filter i {
  display: flex;
  justify-content: center;
  width: 2.5em;
  background-color: #deebff;
  border-radius: 25px;
  line-height: 2.5em;
  font-size: 15px;
  transform: scale(1.1, 1.1);
}

.button_filter p {
  margin: 0%;
  padding-right: 20px;
  padding-left: 10px;
  font-weight: 900;
  font-size: medium;
}

.button_filter:hover {
  background-color: #0065fc;
  color: white;
}
.icons {
  color: #0065fc;
}

.info_title {
  display: flex;
  align-items: baseline;
}

.info_title p {
  margin: 10px;
}

.fas.fa-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  padding: 9px;
  border-radius: 25px;
  border: 1.5px solid #f2f2f2;
  height: 10px;
  width: 10px;
}

/*--********************MAIN********************--*/

/*--*****FIRST PART *****--*/
#first_part {
  display: flex;
  margin-top: 2em;
}

/*--*****HOSTING*****--*/
.placement_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.hosting {
  background-color: #f2f2f2;
  border-radius: 25px;
  margin-right: 20px;
  padding: 2em;
}

.box_description {
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  font-size: small;
  line-height: 0.5em;
  color: black;
}

.box_1 {
  display: flex;
  flex-direction: column;
  width: 247px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 5px 5px 5px gainsboro;
  text-decoration: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

.box_1:hover {
  background-color: #deebff;
}

.hosting img {
  object-fit: cover;
  width: 235px;
  height: 115px;
  border-radius: 18px 18px 0px 0px;
  transform: translate(5px, 5px);
}

.fas.fa-star {
  color: #0065fc;
}
.fas.fa-star.off {
  color: #f2f2f2;
}

.see_more {
  color: black;
  line-height: 4.5em;
}
/*--*****MOST POPULAR*****--*/
.most_popular {
  font-size: small;
  background-color: #f2f2f2;
  border-radius: 25px;
  margin-left: 20px;
  padding: 2.2em;
}

.most_popular_title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.most_popular figure {
  display: flex;
  width: 340px;
  background-color: white;
  border-radius: 18px;
  padding: 5px;
  box-shadow: 5px 5px 5px gainsboro;
  text-decoration: none;
  margin-top: 2.2em;
  margin-left: 0%;
  margin-right: 0%;
}

.most_popular figcaption {
  padding: 1em 3em 0em 1.5em;
}

.rate {
  display: flex;
  padding-top: 2.5em;
}
.most_popular figure:hover {
  background-color: #deebff;
}
.most_popular img {
  width: 127px;
  height: 134px;
  border-radius: 18px 0px 0px 18px;
  object-fit: cover;
}

.most_popular h3 {
  color: black;
  margin: 0%;
}
.most_popular p {
  color: black;
  line-height: 0.5em;
}

/*--*****SECOND PART - ACTIVITY*****--*/

.activity {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.activity figure:hover {
  background-color: #deebff;
}

.box_3 {
  width: 300px;
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 25px;
  color: black;
  margin: 0px;
}

.box_3 img {
  width: 300px;
  height: 390px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.box_4 {
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 25px;
  color: black;
  margin: 0px;
}

.box_4 img {
  width: 300px;
  height: 110px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.box_5 {
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 25px;
  color: black;
  margin: 0px;
}

.box_5 img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.box_6 {
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 25px;
  color: black;
  margin: 0px;
}

.box_6 img {
  width: 300px;
  height: 136px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.box_7 {
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 25px;
  color: black;
  margin: 0px;
}

.box_7 img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.placement_box_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.activity figcaption {
  display: flex;
  margin-left: 1.25em;
  line-height: 0%;
}

/*--********************FOOTER********************--*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-top: 2em;
  padding: 2em 0em 2em 5em;
}

.name_part {
  display: flex;
  flex-direction: column;
  padding-right: 18em;
}

.name_part a {
  line-height: 2em;
  color: black;
}
