body {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

/*--********************HEADER********************--*/
header {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065fc;
  text-decoration: overline #0065fc;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

/*--********************MAIN********************--*/
/*--*****SEARCH*****--*/
/*--SEARCH BUTTON --*/
.fas.fa-map-marker-alt {
  background-color: gray;
}
